{% extends 'base.html' %}


{% block title %}
    <title>Uyaiston:About</title>
{% endblock title %}


{% block content %}
<head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"></head>
<section class="text-center" style="font-family: montserrat">
    <h1 class="text-center" style="font-family: montserrat; margin-top: 2vh;">About Us</h1>
    <p class="text-center" style="font-family:montserrat">A prestigious manufacturer of Engineered Marble and Stones for  building finishing, interior/exterior designing, architectural planning & designing, building and construction of homes, hotels, offices, schools, hospitals, corporate buildings, etc</p>
    <h1 class="text-center" style="font-family: montserrat">Our Services</h1>
    <p class="text-center" style="font-family:montserrat">Uyaistone and Psalmstone with our state of the art manufacturing plant can create client’s signature look. The outstanding exterior/interior décor and design services includes – Building construction, Landscaping, Ceiling designs,  wall decors, floor designs, kitchen design, wardrobes decors & accessory designs, products for a well designed package, to cater to all your creative needs. Our interior designing services also involves custom designed furniture and furnishings.</p>
    <style>
        footer{
            background: rgb(212, 212, 212);
            height:100%;
            padding-top: 3vh;
        }
    </style>
    <h1>Contact Us</h1>
    <p class="icons"><span class="fa fa-phone-square fa-2x"><small style="font-family: montserrat"><a href="tel:+234 803 330 1104">+234 803 330 1104</a></small></span></p>
    <p class="icons"><span class="far fa-envelope fa-2x"><small style="font-family: montserrat"><a href="mailto:uyaistone@gmail.com" style="text-decoration: none;">Mail Us</a></small></span></p>
    <p class="icons"><a href="https://www.instagram.com/uyaistone/"><span class="fab fa-instagram fa-2x btn-outline-danger"></span></a></p>
    <footer>
    <p class="icons"><a href="http://www.psalmstones.com/home/" style="text-decoration: none; font-size:2.5vh;">Psalmstones</a></p>
    </footer>
</section>
    {% endblock content %}
    
    